@charset "utf-8";

main{ 
      width: 100%;
}

.mainWrap { 
      width: 1200px;
      margin: 55px auto;
      overflow: hidden;
      font-family: 'Noto sans Kr', sans-serif;
}

.hide-h1{ 
      width: 0;
      height: 0;
      opacity: 0;
}

.heading{ 
      margin-bottom: 15px;
}

.heading .heading-title{ 
      font-size: 34px;
      color: #000000;
      margin-bottom: 20px;
}
.heading .heading-text{ 
      font-size: 16px;
      color:#666666 ;
}



.mainWrap .news-table-wrap{ 
      width: 74%;
      float: right;
}
.mainWrap .news-table-wrap fieldset{ 
      border: none;
}
.mainWrap .news-table-wrap fieldset form{ 
      float: right;
}
.mainWrap .news-table-wrap table{ 
      width: 100%;
      border-bottom: 1px solid #666666;
      border-collapse: collapse;
      font-family: 'Noto Sans KR', sans-serif;
}
.mainWrap .news-table-wrap table thead{ 
      border-bottom: 3px solid#000;
      text-align: left;
}
.mainWrap .news-table-wrap table thead th{ 
      font-size: 14px;
      padding: 12px 10px;
}
.mainWrap .news-table-wrap table tbody tr{
      height: 50px;
      border-bottom: 1px solid #adadad;
      font-size: 16px;
      line-height: 50px;
 }

 .mainWrap .news-table-wrap table tbody td{ 
      text-indent: 15px;
 }

 .mainWrap .news-table-wrap table tbody .title{ 
    display: block;
 }


.mainWrap .news-table-wrap table tbody .grayText{ 
      color: #999;
}
.mainWrap .news-table-wrap table tbody .gray{ 
      background-color: #F4F4F4;
      
 }