@charset "utf-8";
@import "footer.css";

* {
    letter-spacing: -0.4px;
}
header{ 
    width: 100%;
    height: 300px;
}
header .headerWrap{ 
    position: relative;
    width: 100%;
    height: 100%;
}
header .headerWrap h1 {
    height: 147px;
    text-align: center;
    background-color: #161616;
    padding: 50px 0;
}

header .headerWrap .gnb ul {
    text-align: center;
    font-weight: normal;
    /* color: #fff; */
}

header .headerWrap .gnb a {
    display: inline-block;
    margin: 0 50px 20px;
    font: 14px 'Noto Sans KR', 'Sans-serif';
    font-weight: 100;
    color: #fff;
}

header .headerWrap .gnb a:hover {
    color: #f17446;
}

header .headerWrap .tnb {
    position: absolute;
    top: 0px;
    right:0px;
    margin-top: 20px;
}

header .headerWrap .tnb li {
    position: relative;
    vertical-align: middle;
}

header .headerWrap .tnb a {
    margin: 0 20px;
}
header .headerWrap .tnb .menuBar span{ 
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #f06400;
}
header .headerWrap .tnb .menuBar span::after { 
    content: '';
    display: inline-block;
    width: 30px;
    height: 3px;
    margin-bottom: 3px;
    background-color: #f06400;
}

header .headerWrap .tnb aside{
    position: absolute;
    top: -40px;
    right:-40px;
    width:340px;
    height: 100vh;
    border-left: 1px solid #666666;
    background-color: #161616 ;
    z-index: 990;
    opacity: 0;
    transition: all 0.5s;
}   
header .headerWrap .tnb li:last-child:hover aside{ 
    top: -25px; right:0;
    width: 340px;
    margin-top:-20px;
    opacity: 1;
}

aside #asideMenu{ 
    width: 300px;
    height: 100%;
    margin-top: 130px;
}

#asideMenu li { 
    display: block;
}

#asideMenu li a img{ 
    width: 30px;
    margin-right: 10px;
}

#asideMenu li a{ 
    display: block;
    font: 24px 'Noto Sans KR', sans-serif;
    color: #fff;
    margin: 30px 0 5px;
} 
#asideMenu li a:hover{ 
    color:#ccc;
} 

#asideMenu li a > strong{ 
    font: 14px 'Noto Sans KR', sans-serif;
    color: rgba(255,255,255,.3);
}



/* -------------main----------------- */

main {
    width: 100%;
    margin: 0 auto;

    /* background-color: #161616; */
}

main .mainPoster .topGrayBox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background-color: #161616;
    z-index: -10;
}

main .mainPoster .mainPosterImg {
    width: 100%;
    height: 100%;
}

main .mainPoster .mainPosterImg img {
    width: 100%;
}

main #btnWrap {
    /* clear: both; */
    position: relative;
    width: 1200px;
    height: 50px;
    margin: -30px auto;
}

main #btnWrap ul {
    position: absolute;
    top: 0;
    right: 0;
}

main #btnWrap ul li {
    float: left;
    text-align: center;
    background-color: #fff;
    z-index: 11;
    height: 50px;
}

main #btnWrap li a {
    display: block;
    width: 240px;
    height: 50px;
    padding: 15px 0;
    font: 16px 'Noto Sans', sans-serif;
    color: #000000;
    box-sizing: border-box;
}

main #btnWrap li:last-child a {
    background-color: #161616;
    color: #fff;
}

main #btnWrap li a:hover {
    color: #f17446;
}

main #btnWrap li:first-child::after  {
    content: '';
    width: 2px;
    height: 20px;
    background-color: #919191;
}

main section {
    margin: 80px auto 0;
}

main section h2 {
    text-align: center;
    font: 26px 'Noto Sans KR';
    font-weight: bold;
    padding: 20px;
    margin-top: 70px;
}

section .lookClose {
    color: #f06400;
    padding-bottom: 10px;
}

#newsWrap {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}

#newsWrap>div {
    width: 1280px;
    margin: 0 auto;
}

#newsWrap div .news {
    position: relative;
    float: left;
    width: 33.3333%;
    height: 250px;
    padding: 0 30px;
    border-right: 1px solid #c4c4c4;
    box-sizing: border-box;
}

#newsWrap div .news:last-child {
    border-right: none;
}

#newsWrap .news .date {
    font: 14px 'Noto Sans KR', sans-serif;
    padding-bottom: 10px;
    color: #666;
}

#newsWrap .news .newsTitle {
    width: 100%;
    padding: 0 0 20px;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 22px 'Noto Sans KR', sans-serif;
    line-height: 22px;
    font-weight: bold;
}

#newsWrap .news .newsTitle:hover {
    color: rgb(153, 153, 153);
    transition: 0.3s;
}

#newsWrap .news .text {
    margin-top: 10px;
    padding-top: 5px;
    font: 16px 'Noto Sans KR', sans-serif;
    color: #999999;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* ???????????왜? 흰색? */
    -webkit-line-clamp: 3;
    /* 라인수 */
    -webkit-box-orient: vertical;
}

#newsWrap .news div {
    position: absolute;
    bottom: 0;
}

#progInfo {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

#progInfo .progList {
    overflow: hidden;
}

#progInfo .progList .progBg,
.smallProgWrap {
    position: relative;
    width: calc(33.3333% - 25px);
    height: 610px;
    margin: 15px 12.5px;
    float: left;
    background: no-repeat;
    background-size: cover;
}

#progInfo .progList .progBg:first-child {
    background-image: url("../img/hotelexpress.png");
}

#progInfo .progList .progBg:nth-child(2) {
    background-image: url("../img/전기우주.png");
}

#progInfo .progList .progBg:nth-child(3) {
    background-image: url("../img/서울레코드페어.png");
}

#progInfo .progList .progBg:nth-child(5) {
    background-image: url("../img/2019-타이포잔치.png");
}

#progInfo .progList .progBg:nth-child(6) {
    background-image: url("../img/2019-rto365-메인-썸네일.png");
}

#progInfo .progList .progBg:nth-child(7) {
    background-image: url("../img/2019-대한민국건축문화제-1.png");
}

#progInfo .progList .progBg:nth-child(8) {
    background-image: url("../img/2019한복상점.png");
}

#progInfo .progList .progBg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    top: 0;
    left: 0;
}

#progInfo .progList .progBg:hover::before {
    opacity: 1;
    transition: 0.2s;
}

#progInfo .progList .progBg .prog,
.smallProg div > a {
    display: block;
    position: relative;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    z-index: 10;
}

#progInfo .progList .progBg .prog .date {
    font: 14px 'Noto Sans Kr'sans-serif;
    font-weight: 100;
    color: #c3c3c3;
}

#progInfo .progList .progBg .prog h3 {
    font: 28px 'Noto Sans KR', sans-serif;
    /* font-weight:; */
    color: #fff;
}

#progInfo .progList .progBg .prog>.square {
    position: absolute;
    bottom: 25px;
    left: 25px;
    display: inline-block;
    padding: 4px 30px;
    box-sizing: border-box;
    font: 14px 'Noto Sans KR', sans-serif;
    color: #fff;
    border: 1px solid white;
}

#progInfo .progList .smallProg {
    position: relative;
    width: 100%;
    height: 292.5px;
    border: 1px solid #c3c3c3;
    box-sizing: border-box;
    overflow: hidden;
}

#progInfo .progList .smallProg>div {
    background: no-repeat center;
    overflow: hidden;
}

#progInfo .progList .smallProg div a {
    display: block;
    /* height: 100%; */
}

#progInfo .progList .smallProg>.reserv {
    position: absolute;
    padding: 4px 30px;
    bottom: 40px;
    right: 25px;
    font: 14px 'Noto Sans KR', sans-serif;
    /* z-index: 150; */
    background-color: #fff;
    border: 1px solid #000;
}

#progInfo .progList .smallProg:first-child {
    margin-bottom: 25px;
}


#progInfo .progList .smallProg .smallBg1:hover {background-image: url("../img/main_hover_img_01.png"); height: 100%;}
#progInfo .progList .smallProg .smallBg2:hover {background-image: url("../img/main_hover_img_02.png"); height: 100%;}
#progInfo .progList .smallProg .smallBg3:hover {background-image: url("../img/main_hover_img_03.png"); height: 100%;}
#progInfo .progList .smallProg .smallBg4:hover {background-image: url("../img/main_hover_img_04.png"); height: 100%;}
#progInfo .progList .smallProg h4 {
    margin: 15px 0 15px 0;
    font: 32px 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}

#progInfo .progList .smallProg .text {
    width: 80%;
    text-align: left;
    font: 16px 'Noto Sans KR', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: #666666;
}

#progInfo .progList .smallProg .orange {
    position: relative;
    display: inline-block;
    color: #f06400;
    /* display: inline-block; */
    margin-top: 20px;
    margin-bottom: 20px;
}

#progInfo .progList .smallProg .arrow {
    position: absolute;
    top: 0;
    left: 67px;
    color: #f06400;
    opacity: 0;
    transition: 0.8s;
}

#progInfo .progList .smallProg:hover .arrow {
    position: absolute;
    top: 0;
    left: 75px;
    opacity: 1;
}

#progInfo .progList .smallProg:hover h4 {
    color: #fff;
}

#progInfo .progList .smallProg:hover .text {
    visibility: hidden;
}

#progInfo #viewMoreBtn {
    width: calc(33.3333% - 25px);
    background-color: black;
    margin: 20px auto;
}

#progInfo #viewMoreBtn a {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 13px 0;
    color: #f06400;
}

.floatNav{ 
    position: fixed;
    right: 80px; bottom: 150px;
    width: 30px;
    height: 200px;
}
/* 여기 right 80px인데????pixel은 40px로 잡히는 */
.headerWrap > .rightNav > li { 
    /* width: 30px; */
    margin-bottom:20px;
}

.headerWrap .rightNav > li > a{ 
    display: block;
    width: 19px;
    align-items: center;
}

.headerWrap .rightNav > li > a > img{ 
    width: 100%;
}